
  body {
    background-color: rgb(66, 80, 4);
    height: 95vh;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    color:rgb(230, 9, 9);
    font-weight: bold;
  }
  
  .main {
    animation-name: slideDown;
    animation-duration: 5s;
    margin-right: 10px;
  }
  
  .message {
    position: absolute;
    bottom: 20px;
    width: 50%;
    
  }
  
  @keyframes slideDown {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
  
    80% {
      transform: translateY(-10px);
    }
  
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }
  
  @keyframes slideUp {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
  
    80% {
      transform: translateY(10px);
    }
  
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }

  ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    margin: 0;
    padding: 0;
  }
  ul li {
    list-style: none; 
  }
  ul li a {
    position: relative;
    display: block;
    width: 140px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin: 0 10px;
    text-decoration: none;
    border-top: 4px solid #dcfdd8;
  }
  ul li a span {
    width: 100%;
    height: 100%;
    background: #fff;
    display: block;
    text-transform: uppercase; 
    color: red;
    font-family: verdana;
    font-weight: bold;
    letter-spacing: 2px;
    transform-style: preserve-3d;
    perspective: 1000px
  }
  ul li a span:before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(236, 232, 232);
    color: #ebf7f0;
    transform-origin: top;
    transform: rotateX(270deg);
    transition: .5s;
  }
  ul li a:hover span:before {
    transform: rotateX(0deg);
  }
  ul li a span:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(248, 24, 24);
    color: #fff;
    transform-origin: top;
    transform: rotateX(270deg);
    transition: .5s;
  }
  ul li a:hover span:after {
    transition-delay: .3s;
    transform: rotateX(0deg);
  }



/* //baseball field  */

html, body {
  background: repeating-linear-gradient(120deg,
  #236533,
  #236533 127px,
  #1a5127 127px,
  #1a5127 260px);
  height: 100%;
  padding: 0;
  margin: 0;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#ball {
  position: fixed;
  top: 3em;
  width: 3em;
  height: 3em;
  left: 6em;
  -webkit-animation: bounce .3s cubic-bezier(.63,.09,.76,.45) infinite alternate;
  -moz-animation:    bounce .3s cubic-bezier(.63,.09,.76,.45)  infinite alternate;
  -o-animation:      bounce .3s cubic-bezier(.63,.09,.76,.45)  infinite alternate;
  animation:         bounce .3s cubic-bezier(.63,.09,.76,.45)  infinite alternate;
}

#bat {
  position: fixed;
  top: 3em;
  left: -10.5em;
  -webkit-animation: hit .3s cubic-bezier(.63,.09,.75,.46) infinite alternate;
  -moz-animation:    hit .3s cubic-bezier(.63,.09,.75,.46) infinite alternate;
  -o-animation:      hit .3s cubic-bezier(.63,.09,.75,.46) infinite alternate;
  animation:         hit .3s cubic-bezier(.63,.09,.75,.46) infinite alternate;
}

.red {
  fill:#D7172A;
}

.tan {
  fill:#FFD87D;
}

.white {
  fill:#ffffff;
}

html, body {
  background: repeating-linear-gradient(120deg,
  #236533,
  #236533 127px,
  #1a5127 127px,
  #1a5127 260px);
  height: 100%;
  padding: 0;
  margin: 0;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#ball {
  position: fixed;
  top: 3em;
  width: 3em;
  height: 3em;
  left: 6em;
  -webkit-animation: bounce .3s cubic-bezier(.63,.09,.76,.45) infinite alternate;
  -moz-animation:    bounce .3s cubic-bezier(.63,.09,.76,.45)  infinite alternate;
  -o-animation:      bounce .3s cubic-bezier(.63,.09,.76,.45)  infinite alternate;
  animation:         bounce .3s cubic-bezier(.63,.09,.76,.45)  infinite alternate;
}

#bat {
  position: fixed;
  top: 3em;
  left: -10.5em;
  -webkit-animation: hit .3s cubic-bezier(.63,.09,.75,.46) infinite alternate;
  -moz-animation:    hit .3s cubic-bezier(.63,.09,.75,.46) infinite alternate;
  -o-animation:      hit .3s cubic-bezier(.63,.09,.75,.46) infinite alternate;
  animation:         hit .3s cubic-bezier(.63,.09,.75,.46) infinite alternate;
}

.red {
  fill:#D7172A;
}

.tan {
  fill:#FFD87D;
}

.white {
  fill:#ffffff;
}


/* 
@-webkit-keyframes bounce {
  0% { top: -7em; height: 3em; width: 3em; transform: rotate(20deg); }
  25% { height: 3em; width: 3em; }
  75% { height: 3em; width: 3em; }
  100% { top: 0; height: 3em; width: 3em; transform: rotate(-20deg); }
}

@-moz-keyframes bounce {
  0% { top: -7em; height: 3em; width: 3em; transform: rotate(20deg); }
  25% { height: 3em; width: 3em; }
  75% { height: 3em; width: 3em; }
  100% { top: 0; height: 3em; width: 3em; transform: rotate(-20deg); }
}

@-o-keyframes bounce {
  0% { top: -7em; height: 3em; width: 3em; transform: rotate(20deg); }
  25% { height: 3em; width: 3em; }
  75% { height: 3em; width: 3em; }
  100% { top: 0; height: 3em; width: 3em; transform: rotate(-20deg); } 
 }

@keyframes bounce {
  0% { top: -7em; height: 3em; width: 3em; transform: rotate(20deg); }
  25% { height: 3em; width: 3em; }
  75% { height: 3em; width: 3em; }
  100% { top: 0; height: 3em; width: 3em; transform: rotate(-20deg); }
} html, body {
  background: repeating-linear-gradient(120deg,
  #236533,
  #236533 127px,
  #1a5127 127px,
  #1a5127 260px);
  height: 100%;
  padding: 0;
  margin: 0;
} */

/* .loader {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
} */

#ball {
  position: fixed;
  top: 3em;
  width: 3em;
  height: 3em;
  left: 6em;
  /* -webkit-animation: bounce .5s cubic-bezier(.93,.09,.76,.45) infinite;
  -moz-animation:    bounce .5s cubic-bezier(.93,.09,.76,.45)  infinite;
  -o-animation:      bounce .5s cubic-bezier(.93,.09,.76,.45)  infinite;
  animation:         bounce .5s cubic-bezier(.93,.09,.76,.45)  infinite alternate; */
}

#bat {
  position: fixed;
  top: 3em;
  left: -10.5em;
  -webkit-animation: hit .3s cubic-bezier(.63,.09,.75,.46) infinite alternate;
  -moz-animation:    hit .3s cubic-bezier(.63,.09,.75,.46) infinite alternate;
  -o-animation:      hit .3s cubic-bezier(.63,.09,.75,.46) infinite alternate;
  animation:         hit .3s cubic-bezier(.63,.09,.75,.46) infinite alternate;
}

.red {
  fill:#D7172A;
}

.tan {
  fill:#FFD87D;
}

.white {
  fill:#ffffff;
}


@-webkit-keyframes bounce {
  0% { top: -7em; height: 3em; width: 3em; transform: rotate(20deg); }
  25% { height: 3em; width: 3em; }
  75% { height: 3em; width: 3em; }
  100% { top: 0; height: 3em; width: 3em; transform: rotate(-20deg); }
}

@-moz-keyframes bounce {
  0% { top: -7em; height: 3em; width: 3em; transform: rotate(20deg); }
  25% { height: 3em; width: 3em; }
  75% { height: 3em; width: 3em; }
  100% { top: 0; height: 3em; width: 3em; transform: rotate(-20deg); }
}

@-o-keyframes bounce {
  0% { top: -7em; height: 3em; width: 3em; transform: rotate(20deg); }
  25% { height: 3em; width: 3em; }
  75% { height: 3em; width: 3em; }
  100% { top: 0; height: 3em; width: 3em; transform: rotate(-20deg); }
}

@keyframes bounce {
  0% { top: -7em; height: 3em; width: 3em; transform: rotate(20deg); }
  25% { height: 3em; width: 3em; }
  75% { height: 3em; width: 3em; }
  100% { top: 0; height: 3em; width: 3em; transform: rotate(-20deg); }
} 

@-webkit-keyframes bounce {
  0% { top: -7em; height: 3em; width: 3em; transform: rotate(20deg); }
  25% { height: 3em; width: 3em; }
  75% { height: 3em; width: 3em; }
  100% { top: 0; height: 3em; width: 3em; transform: rotate(-20deg); }
}

@-moz-keyframes bounce {
  0% { top: -7em; height: 3em; width: 3em; transform: rotate(20deg); }
  25% { height: 3em; width: 3em; }
  75% { height: 3em; width: 3em; }
  100% { top: 0; height: 3em; width: 3em; transform: rotate(-20deg); }
}

@-o-keyframes bounce {
  0% { top: -7em; height: 3em; width: 3em; transform: rotate(20deg); }
  25% { height: 3em; width: 3em; }
  75% { height: 3em; width: 3em; }
  100% { top: 0; height: 3em; width: 3em; transform: rotate(-20deg); }
}

@keyframes bounce {
  0% { top: -7em; height: 3em; width: 3em; transform: rotate(20deg); }
  25% { height: 3em; width: 3em; }
  75% { height: 3em; width: 3em; }
  100% { top: 0; height: 3em; width: 3em; transform: rotate(-20deg); }
} 

/* //breaking news */

.breaking_news {
  float:left;
  width:100%;
  font-family: arial;
  font-size: 14px;
  margin-bottom:50px;
}
.border_hl {
  width: 936px;
  padding:1px;
  background-color: #D6002A; /* gold */
  /* Single pixel data uri image http://jsfiddle.net/LPxrT/ 
  /* background-image: gold, gold, white */
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAANYAKv///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='),  url('data:image/gif;base64,R0lGODlhAQABAPAAANYAKv///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='),
url('data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==');
  background-repeat: no-repeat;
  background-size: 0 2px, 0 100%, 0% 2px;
  background-position: top center, top center, bottom center;
}
.label {
  float:left;
  padding:6px 15px;
  background:#D6002A;
  color:#FFF;
  font-weight: bold;
  text-transform: uppercase;
}
.news_title {
  padding:5px 10px;
  float:left;
  background:#FFF;
  width:765px;
  border:1px solid #D6002A;
}

/* Ripple magic */
.ripple {
  position: relative;
  overflow: hidden;
}

.ripple:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background: rgba(255, 255, 255, .5);
  opacity: 0;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%);
  transform-origin: 50% 50%;
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}

.ripple::after {
  animation: ripple 1.5s ease-out  infinite;
}


