


  body {
    background-color: rgb(158, 190, 15);
    height: 95vh;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    color:rgb(230, 9, 9);
    font-weight: bold;
  }
  
  .main {
    animation-name: slideDown;
    animation-duration: 5s;
    margin-right: 10px;
  }
  

  
  @keyframes slideDown {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
  
    80% {
      transform: translateY(-10px);
    }
  
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }
  
  @keyframes slideUp {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
  
    80% {
      transform: translateY(10px);
    }
  
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }

  ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    margin: 0;
    padding: 0;
  }
  ul li {
    list-style: none; 
  }
  ul li a {
    position: relative;
    display: block;
    width: 140px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin: 0 10px;
    text-decoration: none;
    border-top: 4px solid #dcfdd8;
  }
  ul li a span {
    width: 100%;
    height: 100%;
    background: #fff;
    display: block;
    text-transform: uppercase; 
    color: red;
    font-family: verdana;
    font-weight: bold;
    letter-spacing: 2px;
    transform-style: preserve-3d;
    perspective: 1000px
  }
  ul li a span:before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(236, 232, 232);
    color: #ebf7f0;
    transform-origin: top;
    transform: rotateX(270deg);
    transition: .5s;
  }
  ul li a:hover span:before {
    transform: rotateX(0deg);
  }
  ul li a span:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(248, 24, 24);
    color: #fff;
    transform-origin: top;
    transform: rotateX(270deg);
    transition: .5s;
  }
  ul li a:hover span:after {
    transition-delay: .3s;
    transform: rotateX(0deg);
  }



/* //baseball field  */

html, body {
  background: repeating-linear-gradient(120deg,
  #236533,
  #236533 127px,
  #1a5127 127px,
  #1a5127 260px);
  height: 100%;
  padding: 0;
  margin: 0;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* #ball {
  position: fixed;
  top: 3em;
  width: 3em;
  height: 3em;
  left: 6em;
  -webkit-animation: bounce .3s cubic-bezier(.63,.09,.76,.45) infinite alternate;
  -moz-animation:    bounce .3s cubic-bezier(.63,.09,.76,.45)  infinite alternate;
  -o-animation:      bounce .3s cubic-bezier(.63,.09,.76,.45)  infinite alternate;
  animation:         bounce .3s cubic-bezier(.63,.09,.76,.45)  infinite alternate;
} */

#bat {
  position: fixed;
  top: 3em;
  left: -10.5em;
  -webkit-animation: hit .3s cubic-bezier(.63,.09,.75,.46) infinite alternate;
  -moz-animation:    hit .3s cubic-bezier(.63,.09,.75,.46) infinite alternate;
  -o-animation:      hit .3s cubic-bezier(.63,.09,.75,.46) infinite alternate;
  animation:         hit .3s cubic-bezier(.63,.09,.75,.46) infinite alternate;
}

.red {
  fill:#D7172A;
}

.tan {
  fill:#FFD87D;
}

.white {
  fill:#ffffff;
}

html, body {
  background: repeating-linear-gradient(120deg,
  #236533,
  #236533 127px,
  #1a5127 127px,
  #1a5127 260px);
  height: 100%;
  padding: 0;
  margin: 0;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* #ball {
  position: fixed;
  top: 3em;
  width: 3em;
  height: 3em;
  left: 6em;
  -webkit-animation: bounce .3s cubic-bezier(.63,.09,.76,.45) infinite alternate;
  -moz-animation:    bounce .3s cubic-bezier(.63,.09,.76,.45)  infinite alternate;
  -o-animation:      bounce .3s cubic-bezier(.63,.09,.76,.45)  infinite alternate;
  animation:         bounce .3s cubic-bezier(.63,.09,.76,.45)  infinite alternate;
} */

#bat {
  position: fixed;
  top: 3em;
  left: -10.5em;
  -webkit-animation: hit .3s cubic-bezier(.63,.09,.75,.46) infinite alternate;
  -moz-animation:    hit .3s cubic-bezier(.63,.09,.75,.46) infinite alternate;
  -o-animation:      hit .3s cubic-bezier(.63,.09,.75,.46) infinite alternate;
  animation:         hit .3s cubic-bezier(.63,.09,.75,.46) infinite alternate;
}

.red {
  fill:#D7172A;
}

.tan {
  fill:#FFD87D;
}

.white {
  fill:#ffffff;
}


/* 
@-webkit-keyframes bounce {
  0% { top: -7em; height: 3em; width: 3em; transform: rotate(20deg); }
  25% { height: 3em; width: 3em; }
  75% { height: 3em; width: 3em; }
  100% { top: 0; height: 3em; width: 3em; transform: rotate(-20deg); }
}

@-moz-keyframes bounce {
  0% { top: -7em; height: 3em; width: 3em; transform: rotate(20deg); }
  25% { height: 3em; width: 3em; }
  75% { height: 3em; width: 3em; }
  100% { top: 0; height: 3em; width: 3em; transform: rotate(-20deg); }
}

@-o-keyframes bounce {
  0% { top: -7em; height: 3em; width: 3em; transform: rotate(20deg); }
  25% { height: 3em; width: 3em; }
  75% { height: 3em; width: 3em; }
  100% { top: 0; height: 3em; width: 3em; transform: rotate(-20deg); } 
 }

@keyframes bounce {
  0% { top: -7em; height: 3em; width: 3em; transform: rotate(20deg); }
  25% { height: 3em; width: 3em; }
  75% { height: 3em; width: 3em; }
  100% { top: 0; height: 3em; width: 3em; transform: rotate(-20deg); }
} html, body {
  background: repeating-linear-gradient(120deg,
  #236533,
  #236533 127px,
  #1a5127 127px,
  #1a5127 260px);
  height: 100%;
  padding: 0;
  margin: 0;
} */

/* .loader {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
} */

#ball {
  position: fixed;
  top: 3em;
  width: 3em;
  height: 3em;
  left: 6em;
  /* -webkit-animation: bounce .5s cubic-bezier(.93,.09,.76,.45) infinite;
  -moz-animation:    bounce .5s cubic-bezier(.93,.09,.76,.45)  infinite;
  -o-animation:      bounce .5s cubic-bezier(.93,.09,.76,.45)  infinite;
  animation:         bounce .5s cubic-bezier(.93,.09,.76,.45)  infinite alternate; */
}

#bat {
  position: fixed;
  top: 3em;
  left: -10.5em;
  -webkit-animation: hit .3s cubic-bezier(.63,.09,.75,.46) infinite alternate;
  -moz-animation:    hit .3s cubic-bezier(.63,.09,.75,.46) infinite alternate;
  -o-animation:      hit .3s cubic-bezier(.63,.09,.75,.46) infinite alternate;
  animation:         hit .3s cubic-bezier(.63,.09,.75,.46) infinite alternate;
}

.red {
  fill:#D7172A;
}

.tan {
  fill:#FFD87D;
}

.white {
  fill:#ffffff;
}



@-webkit-keyframes bounce {
  0% { top: -7em; height: 3em; width: 3em; transform: rotate(20deg); }
  25% { height: 3em; width: 3em; }
  75% { height: 3em; width: 3em; }
  100% { top: 0; height: 3em; width: 3em; transform: rotate(-20deg); }
}

@-moz-keyframes bounce {
  0% { top: -7em; height: 3em; width: 3em; transform: rotate(20deg); }
  25% { height: 3em; width: 3em; }
  75% { height: 3em; width: 3em; }
  100% { top: 0; height: 3em; width: 3em; transform: rotate(-20deg); }
}

@-o-keyframes bounce {
  0% { top: -7em; height: 3em; width: 3em; transform: rotate(20deg); }
  25% { height: 3em; width: 3em; }
  75% { height: 3em; width: 3em; }
  100% { top: 0; height: 3em; width: 3em; transform: rotate(-20deg); }
}

@keyframes bounce {
  0% { top: -7em; height: 3em; width: 3em; transform: rotate(20deg); }
  25% { height: 3em; width: 3em; }
  75% { height: 3em; width: 3em; }
  100% { top: 0; height: 3em; width: 3em; transform: rotate(-20deg); }
} 

@-webkit-keyframes bounce {
  0% { top: -7em; height: 3em; width: 3em; transform: rotate(20deg); }
  25% { height: 3em; width: 3em; }
  75% { height: 3em; width: 3em; }
  100% { top: 0; height: 3em; width: 3em; transform: rotate(-20deg); }
}

@-moz-keyframes bounce {
  0% { top: -7em; height: 3em; width: 3em; transform: rotate(20deg); }
  25% { height: 3em; width: 3em; }
  75% { height: 3em; width: 3em; }
  100% { top: 0; height: 3em; width: 3em; transform: rotate(-20deg); }
}

@-o-keyframes bounce {
  0% { top: -7em; height: 3em; width: 3em; transform: rotate(20deg); }
  25% { height: 3em; width: 3em; }
  75% { height: 3em; width: 3em; }
  100% { top: 0; height: 3em; width: 3em; transform: rotate(-20deg); }
}

@keyframes bounce {
  0% { top: -7em; height: 3em; width: 3em; transform: rotate(20deg); }
  25% { height: 3em; width: 3em; }
  75% { height: 3em; width: 3em; }
  100% { top: 0; height: 3em; width: 3em; transform: rotate(-20deg); }
} 


  /* //sidebar */
  